.howBuyWrap{
  position: relative;

  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 1189px;
    height: 662px;
    left: 0;
    top: 260px;
    max-width: 100%;
    user-select: none;
    pointer-events: none;
    background: radial-gradient(50% 50% at 50% 50%, rgba(120, 119, 198, 0.11) 0%, rgba(255, 255, 255, 0) 100%);
  }
  @media (max-width: 1200px) {
    &:before{
      width: 900px;
      height: 500px;
      top: 120px;
    }
  }
  @media (max-width: 900px) {
    overflow: hidden;
    &:before{
      width: 100%;
      height: 400px;
      min-height: 100vh;
      top: 100px;
    }
  }
}
.howBuy{
  position: relative;
  z-index: 2;
}
.steps{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
  @media (max-width: 1200px) {
    gap: 30px;
  }
  @media (max-width: 900px) {
    gap: 25px;
  }
  @media (max-width: 767px) {
    gap: 40px;
  }
}

.step{
  width: 360px;
  height: auto;
  background: linear-gradient(358.98deg, rgba(247, 248, 248, 0.05) 1.12%, rgba(247, 248, 248, 0) 99.39%);
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 12px;
  padding: 26px 44px 41px 28px;
  transition: .3s ease;
  opacity: 0;
  transform: translateX(-40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > svg{
    margin-bottom: 35px;
  }
  @media (max-width: 1200px) {
    padding: 25px 30px 30px 25px;
  }
  @media (max-width: 900px) {
    img {
      max-width: 45px;
      max-height: 45px;
      margin-bottom: 15px;
    }
  }
  @media (max-width: 800px) {
    width: 330px;
  }

  @media (max-width: 767px) {
    width: 100%;
    transform: translateX(40px);
    height: auto;
  }
  @media (max-width: 1023px) {
    opacity: 1 !important;
    transform: none !important;
    .stepTitle{
      &:before{
        transform: scaleX(1) !important;
      }
    }
  }

  &.active {
    opacity: 1;
    transform: none;
    .stepTitle{
      &:before{
        transform: scaleX(1);
      }
    }

  }
}

.stepTitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color: #FFFFFF;
  margin: 15px 0;
  padding-bottom: 15px;
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #4460B0;
    bottom: 0;
    left: 0;
    transition-delay: .3s;
    transform: scaleX(0);
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }
  @media (max-width: 1200px) and (min-width: 768px) {
    font-size: 18px;
  }
}

.stepText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #FFFFFF;
  strong{
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #4C50BE;
    font-size: 20px;
    display: block;
    margin: 5px 0;
  }
}

.additional {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  color: #B59AFF;
  @media (max-width: 1200px){
    font-size: 16px;
    line-height: 1.3;
  }
}

.telegramLink{
  width: 126px;
  height: 38px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 20px 0;
  transition: .3s ease;
  &:hover{
    transform: scale(1.05);
    background-color: #4C50BE;
  }
  svg{
    margin-right: 10px;
  }
}