.howBuyWrap {
  position: relative;
  overflow: hidden;
  margin-bottom: 130px;
  @media (max-width: 1200px) {
    margin-bottom: 120px;
  }
  @media (max-width: 800px) {
    margin-bottom: 100px;
  }
  @media (max-width: 479px) {
    margin-bottom: 50px;
  }
}

.howBuy {
  position: relative;
  z-index: 3;
}

.heading {
  margin-bottom: 50px;
  @media (max-width: 479px) {
    margin-bottom: 40px;
  }
}

.steps {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
  @media (max-width: 1200px) {
    gap: 30px;
  }
  @media (max-width: 900px) {
    gap: 25px;
  }
  @media (max-width: 767px) {
    gap: 40px;
  }
}

.stepContent {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 26px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 324px;
    height: 148px;
    margin: 5px 0;
    filter: blur(133px);
    background: rgb(255, 144, 232);
    opacity: 0.6;
    top: -50px;
    right: -150px;
  }
}

.step {
  width: 360px;
  height: auto;
  border-radius: 12px;

  transition: .3s ease;
  opacity: 0;
  transform: translateX(-40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &.step_light {
    border: 1px solid rgb(0, 0, 0);
    background-color: #fff;
  }

  &.step_dark {
    border: 1px solid rgba(221, 221, 221, 0.5);
    background-color: #000;
  }

  & > svg {
    padding: 4px;
    margin-bottom: 20px;
  }

  @media (max-width: 900px) {
    img {
      max-width: 45px;
      max-height: 45px;
      margin-bottom: 15px;
    }
  }
  @media (max-width: 800px) {
    width: 330px;
  }

  @media (max-width: 767px) {
    width: 100%;
    transform: translateX(40px);
    height: auto;
  }
  @media (max-width: 1023px) {
    opacity: 1 !important;
    transform: none !important;
    .stepTitle {
      &:before {
        transform: scaleX(1) !important;
      }
    }
  }

  &.active {
    opacity: 1;
    transform: none;

    .stepTitle {
      &:before {
        transform: scaleX(1);
      }
    }

  }
}

.stepTitle {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  margin: 15px 0;
  padding-bottom: 15px;
  position: relative;
  z-index: 3;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transition-delay: .3s;
    transform: scaleX(0);
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }

  &.stepTitle_light {
    &:before {
      background: rgb(0, 0, 0);
    }
  }

  &.stepTitle_dark {
    &:before {
      background: rgb(241, 243, 50);
    }
  }

  //@media (max-width: 1200px) and (min-width: 768px) {
  //  font-size: 18px;
  //}
}

.stepText {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  z-index: 3;
}


.telegramLink {
  width: 126px;
  height: 38px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
  margin: 20px 0;
  transition: .3s ease;
  position: relative;
  z-index: 3;

  &:hover {
    transform: scale(1.05);
    background-color: rgb(255, 144, 231);
  }

  img {
    margin-right: 10px;
    margin-bottom: 0;
  }

  &.telegramLink_dark {
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.1);

  }

  &.telegramLink_light {
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(0, 0, 0, 0.1);
  }
}

.easy {
  position: absolute;
  z-index: 2;
  display: block;
  top: -100px;
  right: -50px;
  min-width: 195.543579px;
  min-height: 195.543579px;
  object-fit: contain;
  @media (max-width: 767px) {
    top: -60px;
    right: 0;

  }
  @media (max-width: 479px) {
    display: none;
  }
}