@font-face {
    font-family: 'Mabry Pro';
    src: local('Mabry Pro Bold'),
    local('MabryPro-Bold'),
    url('MabryPro-Bold.woff2') format('woff2'),
    url('MabryPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: local('Mabry Pro Medium'),
    local('MabryPro-Medium'),
    url('MabryPro-Medium.woff2') format('woff2'),
    url('MabryPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: local('Mabry Pro Regular'),
    local('MabryPro-Regular'),
    url('MabryPro-Regular.woff2') format('woff2'),
    url('MabryPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
