.main {
  width: 947px;
  max-width: 100%;
  margin-left: 19px;
  height: 502px;
  margin-top: 22px;
  position: relative;

}

.coin {
  object-fit: contain;
}

.coin1 {
  width: 81px;
  height: 96px;
}

.coin2 {
  width: 75px;
  height: 76px;
}

.coin3 {
  width: 124px;
  height: 131px;
}

.coin4 {
  width: 147px;
  height: 148px;
}

.coin5 {
  width: 96px;
  height: 82px;
}

.button{
  max-width: 244px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}