.calculatorSection {
  display: grid;
  grid-gap: 75px;
  grid-template-columns: 1fr 550px;
  position: relative;
  margin-bottom: 84.5px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr 450px;

  }
  @media (max-width: 850px) {
    grid-template-columns: 1fr;
    margin-bottom: 99px;
  }
  @media (max-width: 479px) {
    margin-bottom: 49px;
  }
}

.background {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  z-index: 2;
}

.mainImage {

}
.calculator {
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding: 24px 24px 40px 24px;

}

.calculatorContent{
  overflow: hidden;
  border-radius: 4px;
  box-shadow:
          5px 5px 0 0 #000000,
          inset 0 0 0 0.8px #000000;
  border: 1px solid #000;
  background-color: #fff;
}

.text {
  font-size: 26px;
  font-weight: 400;
  line-height: 34px;
}


.tabs {
  width: 550px;
  height: 86px;
  margin-top: 0;
  margin-left: 0;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabButton {
  width: 275px;
  height: 86px;
  margin-top: 0;
  margin-left: 0;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  text-align: left;
  cursor: pointer;
  background-color: #E9ECEF;
  color: #4B5153;
  cursor: pointer;
  &.active {
    background-color: #fff;
    color: #000;
  }
}

.resultField {
  display: flex;
}

.result {

}

.resultCurrency {

}

.nextButton {

}

.serviceCost {

}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin-bottom: 8px;
  color: #000;
}

.inputGroup {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.currencyIcon {
  background-color: black;
  color: white;
  width: 36px;
  height: 51.91px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 0 0 4px;
}

.inputField {
  flex: 1;
  height: 51.91px;
  padding: 0 12px;
  border-radius: 0;
  color: #000;
  display: flex;
  align-items: center;
  background-color: #E9ECEF;
}

.toggleIcon{
  display: block;
  transform: rotate(0deg);
  transition: .24s ease-in-out ;
  &.rotated {
    transform: rotate(180deg);
  }
}

.flagIcon {
  width: 24px;
  height: 16px;
  margin-right: 4px;
}


.customDropdown {
  position: relative;
  width: 106.2px;
  height: 51.91px;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 0;
  color: #000000;
}

.dropdownSelected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 8px;
  color: #000;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: dropdownFadeIn 0.2s ease-in-out;
  color: #000;
}

.dropdownItem {
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000;
  &:hover {
    background-color: #f1f1f1;
  }
}

@keyframes dropdownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
